**Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.**

In [103]:
import numpy as np
import pandas as pd


def mean_(list_) -> float:
    sum_ = 0
    for i in list_:
        sum_ += i
    return sum_/len(list_)

def dispers_(list_, ddof=False) -> float: # если ddof true - то дисперсия несмещенная, по умолчанию - смещенная
    otklon = 0
    ddof = 1 if ddof else 0
    for i in list_:
        otklon += (i - mean_(list_)) ** 2
    return otklon /(len(list_) - ddof)

def sigma_(list_):
    return dispers_(list_, ddof=False) ** 0.5

In [104]:
zp = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]

stats ={'Среднее арифметическое':  mean_(zp), 
        'Смещенная дисперсия':dispers_(zp), 
        'Несмещенная дисперсия': dispers_(zp, True), 
        'Cреднее квадратичное отклонение': sigma_(zp)}

df = pd.DataFrame(stats, index = ['Значение']).T
df

                                    Значение
Среднее арифметическое             65.300000
Смещенная дисперсия               950.110000
Несмещенная дисперсия            1000.115789
Cреднее квадратичное отклонение    30.823854

***
**В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?**

In [124]:
from math import factorial, exp

def cmbs(k, n) -> int:
    return int(factorial(n) / (factorial(k) * factorial(n-k)))

bin1_total   = 8
bin1_white   = 5
bin1_black   = bin1_total - bin1_white
bin1_take    = 2
bin2_total   = 12
bin2_white   = 5
bin2_black   = bin2_total - bin2_white 
bin2_take    = 4
all_combos1  = cmbs(bin1_take, bin1_total)
all_combos2  = cmbs(bin2_take, bin2_total)

In [227]:
#из первого два белых
p_bin1_2_white = cmbs(bin1_take, bin1_white)/all_combos1

# из второго 1 белый и три черных
p_bin2_1_white = cmbs(1, bin2_white) * cmbs(3, bin2_black) / all_combos2

In [228]:
#из первого 1 белый 1 черный 
p_bin1_1_white = cmbs(1, bin1_white) * cmbs(1, bin1_black) / all_combos1

#из второго 2 белых 2 черных
p_bin2_2_white = cmbs(2, bin2_white)  * cmbs(2, bin2_black) / all_combos2

In [229]:
#из первого 0 белых 2 черных 
p_bin1_0_white = cmbs(0, bin1_white) * cmbs(2, bin1_black) / all_combos1

#из второго 1 черный, 3 белых 
p_bin2_3_white = cmbs(1, bin2_black)  * cmbs(3, bin2_white) / all_combos2

In [128]:
p_bin1_2_white * p_bin2_1_white + \
p_bin1_1_white * p_bin2_2_white + \
p_bin1_0_white * p_bin2_3_white

0.3686868686868687

In [233]:
# еще вариант решения через таблицу всех сочетаний

datas_ = {'bin1': {'takes': 2, 'color1' : 5, 'color2': 3},
          'bin2': {'takes': 4, 'color1' : 5, 'color2': 7}
        }

def all_combinations(data_) -> dict:
    result = {}
    for k, v in data_.items():       
        result[str(k)] = {}
        result[str(k)]['color1'] = []
        result[str(k)]['color2'] = []
 
        result[str(k)]['all_combs_for_takes'] = cmbs(v['takes'], v['color1'] + v['color2'])
        for i in range(v['takes'] + 1):    
            
            result[str(k)]['color1'].append(cmbs(i, v['color1']))
            result[str(k)]['color2'].append(cmbs(i, v['color2']))                                                              
                                                    
    return result

df1 = pd.DataFrame(all_combinations(datas_)).T.style.set_properties(**{'text-align': 'left'})
df1

In [223]:
# теперь ориентируемся на таблицу
# из первого два белых из второго 1 белый и три черных
# из первого один белый один черный  из второго 2 белых и 2 черных
# из первого ноль белых два черных  из второго 3 белых и 1 черных

10*1/28 * 5*35/495 + \
5*3/28 * 10*21/495 + \
1*3/28 * 10*7/495

0.3686868686868686

***
**На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.**

In [241]:
P_A_B1 = 0.9
P_A_B2 = 0.8
P_A_B3 = 0.6

# Будем использовать формулу Байеса
P_A = 1/3*0.9 + 1/3*0.8 + 1/3 * 0.6
P_B1_A = 1/3 * P_A_B1 / P_A
P_B2_A = 1/3 * P_A_B2 / P_A
P_B3_A = 1/3 * P_A_B3 / P_A

f'вероятность что попал первый: {P_B1_A}, второй: { P_B2_A}, третий: {P_B3_A} '

'вероятность что попал первый: 0.391304347826087, второй: 0.3478260869565218, третий: 0.2608695652173913 '

***
**В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?**

In [242]:
P_A_B1 = 0.8
P_A_B2 = 0.7
P_A_B3 = 0.9

P_B1 = 1/4
P_B2 = 1/4
P_B3 = 1/2


P_A = (P_B1 * P_A_B1) + (P_B2 * P_A_B2) + (P_B3 * P_A_B3)

P_B1_A = P_B1 * P_A_B1 / P_A
P_B2_A = P_B2 * P_A_B2 / P_A
P_B3_A = P_B3 * P_A_B3 / P_A

f'вероятность что факультет первый: {P_B1_A}, второй: { P_B2_A}, третий: {P_B3_A} '

'вероятность что факультет первый: 0.24242424242424246, второй: 0.21212121212121213, третий: 0.5454545454545455 '

***
**Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?**

In [272]:
#Дай Бог здоровья создателю такого механизма


P_A_B1 = 0.1
P_A_B2 = 0.2
P_A_B3 = 0.25

P_B1 = 1/3
P_B2 = 1/3
P_B3 = 1/3

# Строго одна деталь
P_A = (P_B1 * P_A_B1) + (P_B2 * P_A_B2) + (P_B3 * P_A_B3)


P_B1_A = P_B1 * P_A_B1 / P_A
P_B2_A = P_B2 * P_A_B2 / P_A
P_B3_A = P_B3 * P_A_B3 / P_A


# а)  все детали:
P_all = P_B1_A * P_B2_A * P_B3_A
P_all

0.0300525920360631

In [273]:
# б) Две детали
P_double = ((P_B1 * P_A_B1) + (P_B2 * P_A_B2)) * (P_B3 * P_A_B3)/P_A +\
           ((P_B2 * P_A_B2) + (P_B3 * P_A_B3)) * (P_B1 * P_A_B1)/P_A +\
           ((P_B3 * P_A_B3) + (P_B1 * P_A_B1)) * (P_B2 * P_A_B2)/P_A
P_double

0.11515151515151514

In [274]:
# в) хотя бы одна
P_one = P_A + P_double + P_all
P_one

0.32853744052091155

In [276]:
# г) Одна или две
P_one_or_two = P_A + P_double
P_one_or_two

0.29848484848484846